.file-cell-control-bar-wrapper {
  height: 40px;
  /* padding: 0 10px; */
  display: flex;
  color: var(--primaryColor);
  /* overflow: hidden; */
  margin: 5px 0;
}

.file-content-panel-wrapper {
  /*border: 1px solid salmon;*/
  width: 100%;
  height: calc(100% );
  max-height: calc(100% );
}

.file-content-panel-empty {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}