.project-cell-wrapper {
  border: 1px solid var(--primaryColor);

  height: 90vh;
  width: 100%;
  margin: 10px;
  /* padding: 10px; */

  display: flex;
  flex-direction: column;
  background-color: var(--secondaryColor);
}


.project-download-async-button-group progress {
  /*border: 1px solid lightsalmon;*/
  font-size: .6em;
}

.project-control-panel{
  display: flex;
  flex-direction: row;
  padding: 5px 10px 10px 0px;
  gap: 8px;
  background-color: var(--secondaryColor);
  justify-content: flex-end;
  box-shadow: 0px -1px 4px 0 var(--shadowColor);
}