#root {
  margin: 0 auto;
  text-align: center;
  height: 100vh;
}

.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

.file-browser-control-bar-btn,
.project-control-panel-btn,
.file-cell-control-bar-btn {
  /* margin: 0px 5px; */
  background: white;
  border: none;
  color: var(--blue);
  font-size: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  /* background-color: red; */
  padding: 5px;
  border-radius: 3px;
}

.file-browser-control-bar-btn:hover,
.project-control-panel-btn:hover,
.file-cell-control-bar-btn:hover {
  background-color: var(--blue);
  color: white;
}

.visible{
  visibility: visible;
}
.hidden{
  visibility: hidden;
}

.apiStatus{
  height: 1em;
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
