.file-browser {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  max-height: 100%;
  overflow: hidden; /* This ensures our Run and Download bar doesn't overflow*/
}

.file-browser-panel {
  /*border: 1px solid lightblue;*/
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  background-color: var(--secondaryColor);
  padding: 4px;
  overflow: auto;
}

.file-list-item {
  padding:0 2px;
  /*border: 1px solid yellow;*/
}

.file-list-item.selected-file {
  background-color: grey;
}