.file-browser-control-bar {
  width: 100%;
  padding: 5px;
  display: flex;
  gap: 10px;
  flex-direction: row;
  justify-content: flex-end;
  color: var(--blue);
}

.file-browser-control-bar .button {
  /* margin: 0px 5px; */
  background: white;
  border: none;
  color: inherit;
  font-size: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  /* background-color: red; */
  padding: 4px;
}

.file-browser-control-bar .button:hover{
  background-color: var(--blue);
  color: white;
}

