.project-cell-wrapper {
  border: 1px solid gray;

  height: 90vh;
  width: 100%;

  padding: 10px;

  display: flex;
  flex-direction: column;
}


.project-download-async-button-group progress {
  /*border: 1px solid lightsalmon;*/
  font-size: .6em;
}