/* .landing-wrapper {
 
  margin: 20px;
  height: 100%;
  width: 90%;
  display: flex;
  flex-direction: row;
 
  justify-content: center;
  align-items: center;
 
}

.landing-wrapper .left-side {
 
  width: 60%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 140px;
  padding: 100px 20px 20px 20px;
}

.landing-wrapper .brand-bar {

  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 20px;
}

.landing-wrapper .logo-image {
  height: 1.7em;
  width: 1.7em;
}

.landing-wrapper .logo-text {
  font-size: 1.5em;
  font-weight: bold;
}


.landing-wrapper .main-content {
  padding: 0 20px;
  display: flex;
  flex-direction: column;
  gap: 60px;
}

.landing-wrapper .description-text {
  font-size: 4em;
  width: 80%;
}

.landing-wrapper .auth-section-bar {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  gap: 60px;
}

.landing-wrapper .auth-section-bar button {
  border-radius: 20px;
  width: 150px;
  height: 50px;
}


.landing-wrapper .right-side {
  
  height: 100%;
  width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.landing-wrapper .main-image-wrapper {

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.landing-wrapper .main-image {

  height: 400px;
  width: 400px;
}
 */

.landing-page-studio {
  height: calc(100vh - 2rem);
  background-color: var(--white);
  color: var(--blue);
  padding: 4rem 3rem 0rem 3rem;
}

.landing-page-studio .brand-logo h1 {
  font-weight: lighter;
  text-align: left;
}

.middle-section {
  grid-row-gap: 2rem;
  grid-column-gap: 3rem;
  justify-items: center;
  display: grid;
  grid-template-columns: 40% 55%;
  grid-template-rows: auto auto;
  /* margin-top: 2rem; */
  align-items: center;
}

.middle-section p {
  font-size: 5rem;
  /* width: 50%; */
}

.codeBox {
  background-color: rgb(0, 0, 0);
  width: 100%;
  height: 23rem;
  justify-self: flex-start;
  padding: 20px 30px;
  border-radius: 5px;
  box-shadow:
    0 26px 58px 0 rgba(0, 0, 0, 0.22),
    0 5px 14px 0 rgba(0, 0, 0, 0.18);
}

.typedtext {
  background-image: linear-gradient(#c6e4ff, #2b4172);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-align: left;
  font-size: 1.2rem;
  font-size: bold;
}

.landing-page-studio .loginSignupButtons {
  gap: 5rem;
  font-size: 1.2rem;
  margin-top: 2rem;
}

.landing-page-studio .loginButton {
  border: 2px solid var(--blue);
  background-color: var(--white);
  color: var(--blue);
  padding: 1rem 0rem;
  font-size: inherit;
}

.landing-page-studio .signupButton {
  background-color: var(--blue);
  color: var(--white);
  border: none;
  padding: 1.1rem 0rem;
  font-size: inherit;
}

@media (max-width: 900px) {
  .middle-section {
    display: flex;
    flex-direction: column;
    margin-top: 3rem;
  }
  .middle-section p {
    width: 100%;
  }
  .landing-page-studio .loginSignupButtons {
    margin-top: 3rem;
  }
}
@media (max-width: 600px) {
  .codeBox {
    width: 100%;
  }
}

@media (max-width: 430px) {
  .landing-page-studio {
    padding: 4rem 1rem 0rem 1rem;
  }
}
