.content-box {
  max-height: 100%;
  overflow: auto;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 5px;
}

.remaining-box {
  flex-grow: 1;
  max-width: 100%;
  display: flex;
  flex-direction: column;
}

.remaining-box pre {
  flex-grow: 1;
  max-width: 100%;
}

.remaining-box .preview-tabs-wrapper {
  flex-grow: 1;
  max-width: 100%;
}