.project-scroll-list {
  position: absolute;
  top: 0;
  left:0;
  flex-grow: 1;
  max-width: 100%;
  display: flex;
  flex-direction: column;
  gap: 40px;
  text-align: left;
  height: 100%;
  width: 100%;
  overflow: auto;
}