.project-list-view {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  /*margin: 5px;*/
  /*border: 1px dashed lightblue;*/
}

.project-list-view-control-bar {
  height: 50px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  /*border: 1px dashed lightblue;*/
}

.project-list-view-control-bar-setting {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}

.project-list-view-panel {
  position: relative;
  width: 100%;
  flex-grow: 1;
  /*margin: 5px;*/
  /*border: 1px dashed salmon;*/
}