.preview-tabs-wrapper {
  flex-grow: 1;
  border: 2px solid lightcoral;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 10px;

}

.preview-tabs-bar {
  /*height: 40px;*/
  /*border: 1px solid lightcyan;*/
}

/* The following is inside bulma */
.preview-tabs-wrapper .tabs {
  margin: 0;
}

.preview-tabs-panel {
  flex-grow: 1;
  background-color: white;
  overflow: scroll;
  position: relative;

}