.preview-tabs-wrapper {
  border: 2px solid lightblue;
  height: 250px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 10px;
  overflow: scroll;
}

.preview-tabs-wrapper .tabs {
  margin: 0;
}