.preview-tabs-wrapper {
  /*border: 2px solid lightblue;*/
  height: 250px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 10px;

}

/* The following is inside bulma */
.preview-tabs-wrapper .tabs {
  margin: 0;
}

.preview-tabs-panel {
  height: 100%;
  overflow: scroll;
  scrollbar-gutter: stable;
}