.project-scroll-list {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.content-box {
  max-height: 100%;
  overflow: auto;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 5px;
}

.remaining-box {
  flex-grow: 1;
  max-height: 100%;
  overflow: auto;
}