.project-value-list {
  width: 80%;
  min-width: 500px;
  max-width: 700px;
  border: 1px solid lightblue;
  border-radius: 10px;
  padding: 60px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items:center;
  gap: 40px;
}

.project-value-list .title {
  font-size: 2em;
}

.project-value-list label {
  width: 30%;
  margin-left: 20%;
}

.project-value {
  width: 100%;
  display: flex;
}

.project-value-list .value {
  width: 40%;
  height: 2em;
  font-size: 1em;
  padding: 4px;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 20px;
}

.project-value-list .description {
  height: 6em;
}

.project-value .radio {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}

.project-value .start-config {
  /*border: 1px solid salmon;*/
  width: 100%;
  display: flex;
}

.project-value-list .framework-select {
  color: black;
}

.zip-upload button {
  color: white;
  background-color: #dee5ed;
}

