.form-wrapper textarea {
  width: 100%;
  outline: none;
  resize: none;
  border: 0.1rem solid var(--primaryColor);
  border-radius: 5px;
  padding: 0.5rem;
  font-size: 0.9rem;
  color: var(--primaryColor);
  background-color: var(--secondaryColor);
  /* border-radius: 5px; */
}

.start-config-radio {
  width: 75%;
  text-align: left;
}

.form-label-radio-field {
  flex-direction: row;
  gap: 20px;
  justify-content: center;
  align-items: center;
}

.form-input-box [type="radio"] {
  display: none;
}

.form-label-radio-field .form-input-box {
  position: relative;
}

.form-label-radio-field .form-input-box::before {
  content: "";
  width: 20px;
  height: 20px;
  position: absolute;
  border: 1px solid var(--primaryColor);
  border-radius: 50%;
}
.custom-radio {
  content: "";
  width: 15px;
  height: 15px;
  position: absolute;

  left: 3.3px;
  border-radius: 50%;
}

.advance-btn {
  width: max-content;
  font-size: 1.125rem;
  padding: 3px 10px;
  border-radius: 4px;
  border: 1px solid var(--primaryColor);
  background-color: var(--secondaryColor);
  color: var(--primaryColor);
  cursor: pointer;
}

.advance-btn:hover{
  background-color: var(--primaryColor);
  color: var(--secondaryColor);

}

.form-input-box [type="radio"]:checked + .custom-radio {
  background-color: var(--primaryColor);
}

.template-import-radio {
  display: flex;
  padding-top: 0.5rem;
}

.start-config {
  text-align: left;
}

.zip-upload,
.framework-select {
  text-align: center;
  margin-top: 0.5rem;
}

.zip-upload .form-submit-btn {
  box-shadow: 0 0 0 0;
}

.css-13cymwt-control {
  background-color: var(--secondaryColor) !important;
}
.css-t3ipsp-control:hover {
  border-color: var(--primaryColor) !important;
}

.css-t3ipsp-control {
  box-shadow: 0 0 0 1px var(--primaryColor) !important;
}

.css-tr4s17-option {
  background-color: var(--primaryColor) !important;
}

.css-1dimb5e-singleValue {
  color: var(--primaryColor) !important;
}

@media (max-width: 940px) {
  .template-import-radio {
    flex-direction: column;
    align-items: flex-end;
  }
  .form-label-radio-field .form-input-box {
    position: static;
  }

  .form-label-radio-field {
    position: relative;
    justify-content: flex-start;
  }

  .form-label-radio-field .form-input-box::before {
    left: 84px;
  }
  .custom-radio {
    left: 87.3px;
  }
}

/* .project-value-list {
  width: 80%;
  min-width: 500px;
  max-width: 700px;
  border: 1px solid lightprimaryColor;
  border-radius: 10px;
  padding: 60px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items:center;
  gap: 40px;
}

.project-value-list .title {
  font-size: 2em;
}

.project-value-list label {
  width: 30%;
  margin-left: 20%;
}

.project-value {
  width: 100%;
  display: flex;
}

.project-value-list .value {
  width: 40%;
  height: 2em;
  font-size: 1em;
  padding: 4px;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 20px;
}

.project-value-list .description {
  height: 6em;
}

.project-value .radio {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}

.project-value .start-config {
 
  width: 100%;
  display: flex;
}

.project-value-list .framework-select {
  color: black;
}

.zip-upload button {
  color: white;
  background-color: #dee5ed;
}
 */
