
.landing-page {
  border: 1px solid lightcyan;
  /*margin: 0 20px;*/
  /* margin-top matters when nav-bar is visible */
  margin-top: 60px;
  height: calc(100vh - 60px);
  overflow: scroll;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.landing-page .outlet {
  width: 100%;
  height: 100%;
  padding: 40px;
  /*border: 1px solid lightcyan;*/
}