.navbar {
  /*border: 1px solid lightblue;*/
  width: 100%;
  padding: 0 20px;
  position: absolute;
  top: 0px;
}

.navbar .navbar-end {
  padding: 0 40px;
}

.navbar .navbar-item {
  cursor: pointer;
}