.file-cell-control-bar {
  /*border: 2px dashed white;*/
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 98%;
}

.file-cell-control-bar-left {
  /*border: 1px dashed salmon;*/
  width: fit-content;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  padding-left: 20px;
}

.file-cell-control-bar-left span {
  white-space: nowrap;
}

.file-cell-control-bar-right {
  /*border: 1px dashed salmon;*/
  width: 100%;
  display: flex;
  justify-content: flex-end;
  gap: 60px;
  align-items: center;
  margin-top: 5px;
  padding-right: 10px;
}

.sync-btn {
  font-size: 1.4em;
}

.project-menu-btn {
  transform: rotate(90deg);
}

.file-cell-control-bar-btn {
  font-size: 1.1em;
}

.project-menu-list {
  position: absolute;
  top: 43px;
  z-index: 99;
  background: white;
  padding: 10px 0;
  width: 11rem;
  box-shadow: 0 0 5px 0px #000000b0;
  right: 15px;
}

.project-menu-list ul {
  list-style: none;
}

.project-menu-list li {
  padding: 5px 10px;
  text-align: center;
  /* width: max-content; */
}

.project-menu-list li:hover {
  color: white;
  background-color: var(--blue);
}
