.project-cell-wrapper {
  border: 1px solid gray;

  height: 90vh;
  width: 100%;

  padding: 10px;

  display: flex;
  flex-direction: column;
}

.file-cell-control-bar-wrapper {
  height: 60px;
  padding: 0 10px;
  display: flex;
  overflow: hidden;
  margin: 5px 0;
}

.project-download-async-button-group progress {
  /*border: 1px solid lightsalmon;*/
  font-size: .6em;
}