.object-wrapper {
  display: flex;
  flex-direction: column;
}

.object-wrapper.intermediate {
  padding-left: 10px;
}

.object-wrapper.root {
  /*border: 1px solid gray;*/
}

.entry-object {
  font-weight: bold;
  cursor: pointer;
}

.entry {
  display: flex;
  flex-direction: row;
  gap: 5px;
  align-items: center;
}

