.object-wrapper {
  display: flex;
  flex-direction: column;
  padding-left: 10px;
}

.object-wrapper .root-object {
  border: 1px solid gray;
}

.entry-object {
  font-weight: bold;
  cursor: pointer;
}

.entry {
  display: flex;
  flex-direction: row;
  gap: 5px;
  align-items: center;
}

.object-box {
  /* border: 1px solid blueviolet; */
  font-weight: normal;
}