.navbar {
  /*border: 1px solid lightblue;*/
  height: 60px;
  width: 100%;
  padding: 0 20px;
  position: sticky;
  top: 0px;
}

.navbar-menu {
  background-color: #2b3e50!important;
}

.navbar .navbar-end {
  padding: 0 40px;
}

.navbar .navbar-item {
  cursor: pointer;
  /*border: 1px solid lightblue;*/
}