
.landing-page {
  /*margin-top: 60px;*/
  /* height: 100%; */
  overflow: auto;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  
}

.landing-page .outlet {
  width: 100%;
  min-height: 100vh;
  background-color: var(--backgroundColor);
  /* height: calc(100% - 5rem); */
  /* padding: 10px; */
  /* display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; */
}

.Toastify__toast-theme--colored.Toastify__toast--success {
  background: var(--toastSuccessColor) !important;
  color: var(--secondaryColor) !important;
}

.Toastify__toast-theme--colored.Toastify__toast--error{
  background: var(--toastErrorColor) !important;
  color: var(--secondaryColor) !important;
}

.Toastify__close-button {
  color: var(--secondaryColor) !important;
}